opencv-python==4.8.1.78
numpy>=1.23.0
websockets==10.4
sounddevice==0.4.6
scipy>=1.7.3
Werkzeug==2.2.3
Flask==2.2.3
flask-socketio==5.3.4
python-engineio==4.3.4
python-socketio==5.7.2
mediapipe==0.10.8
matplotlib>=3.9.4
eventlet==0.33.3
simple-websocket==0.10.1
